/* Projetos.module.css */
#NavProjetos{
    margin-bottom: 100px;
}
.title {
    text-align: center;
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card_row {
    display: flex;
    gap: 1.5rem;
}

/* Estilos do Card podem permanecer os mesmos */
